body {
  font-family: 'Poppins', sans-serif;
  background: #2c3338;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.container {
  background-color: #606468;
  padding: 20px 30px;
  border-radius: 8px;
  box-shadow:  0 0 10px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 400px;
  text-align: center;
}
.container h2 {
  color: white;
  margin-bottom: 20px;
  font-size: 24px;
}
.container label {
  color: white;
  display: block;
  margin-bottom: 5px;
  text-align: left;
}
.container input[type="text"],
.container input[type="password"],
.container input[type="email"],
.container input[type="tel"] {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}
.container input[type="submit"] {
  width: 100%;
  padding: 12px;
  background-color: #b5cd60;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
  font-weight: bold;
  transition: background-color 0.3s ease;
}
.container input[type="submit"]:hover {
  background-color: #45a049;
}
@media (max-width: 600px) {
  .container {
      width: 80%;
      max-width: 400px;
      margin: 0 auto;
      text-align: center;
      box-shadow: none;
      border: 1px solid #ccc;
      margin-top: 10px;
      margin-bottom: 10px;
      padding: 10px;
      margin-bottom: 20px;
      margin-top: 20px;
  }
  .container h2 {
      font-size: 20px;
  }
}  