<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../style/register.css">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap" rel="stylesheet">

    <title>ユーザー登録</title>

</head>
<body>
    <div class="container">
        <h2>Cadastro de Usuário</h2>
        <form id="signupForm">
            <label for="username">Username</label>
            <input type="text" id="username" name="username" required>

            <label for="password">Password</label>
            <input type="password" id="password" name="password" required>

            <label for="email">Email</label>
            <input type="email" id="email" name="email" required>

            <label for="language">Language</label>
            <input type="text" id="language" name="language" required>

            <input type="submit" value="Cadastrar">
        </form>
    </div>

    <script>
        document.getElementById('signupForm').addEventListener('submit', function(event) {
            event.preventDefault();

            const username = document.getElementById('username').value;
            const password = document.getElementById('password').value;
            const email = document.getElementById('email').value;
            const language = document.getElementById('language').value;

            const data = {
                username: username,
                password: password,
                email: email,
                isActive: true,
                language: language
            };

            fetch('http://localhost:3000/noauth/signup', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                    'User-Agent': 'insomnia/9.3.1'
                },
                body: JSON.stringify(data)
            })
            .then(response => response.json())
            .then(data => {
                console.log('Success:', data);
                alert('Cadastro realizado com sucesso!');
            })
            .catch((error) => {
                console.error('Error:', error);
                alert('Ocorreu um erro ao realizar o cadastro.');
            });
        });
    </script>
</body>
</html>
