<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link meta="stylesheet" href="../assets/css/styles.css" >
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../lib/font-awesome-4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css" integrity="sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2LwA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <title>Document</title>
</head>
<body>
     <h1>Information</h1>
    <div id="options">
        <div  class="container d-flex justify-content-around bg-success btn-shadow">
          <div class="row col-md-6 d-flex justify-content-start align-items-center">
            <h1>Geral</h1>
          </div>
          <div id="geral" class="row col-md-6 d-flex justify-content-center align-items-center">
            <h1 class="font-60">45</h1>
          </div> 
        </div>
        <div  class="container d-flex justify-content-around bg-info btn-shadow">
          <div class="row col-md-6 d-flex justify-content-start align-items-center">
            <h1>Ativos</h1>
          </div>
          <div id="ativo" class="row col-md-6 d-flex justify-content-center align-items-center">
            <h1 class="font-60">45</h1>
          </div> 
        </div>
        <div  class="container d-flex justify-content-around bg-danger btn-shadow">
          <div class="row col-md-6 d-flex justify-content-start align-items-center">
            <h1>Inativos</h1>
          </div>
          <div id="inativo" class="row col-md-6 d-flex justify-content-center align-items-center">
            <h1 class="font-60">45</h1>
          </div> 
        </div>
    </div> 
</body>
</html>